and_chr >= 57
chrome >= 57
and_ff >= 52
android >= 92
edge >= 15
samsung >= 7.4
safari >= 10.1
ios_saf >= 10.3
opera >= 44
firefox >= 52
unreleased and_chr versions
unreleased chrome versions
unreleased and_ff versions
unreleased android versions
unreleased edge versions
unreleased samsung versions
unreleased safari versions
unreleased ios_saf versions
unreleased opera versions
unreleased firefox versions
